.footer1 {
      background-image: url('../assets//images/more/13.jpg');
      height: 100%;
      width: 100%;
}
.footer2 {
      background-image: url('../assets//images/more/24.jpg');
      height: 100%;
      width: 100%;
}